<div class="salon-detail-container" *ngIf="salon">
  <app-header
    [showBreadcrumb]="true"
    [salonId]="salon._id"
    [salonName]="salon.name">
  </app-header>

  <div class="content-container">
    <div class="salon-info-section">
      <div class="salon-details">
        <h1 class="salon-title">{{salon.name}}</h1>
        <div class="salon-address">
          <div class="address-container">
            <div *ngFor="let address of salon.address | keyvalue" class="address-item">
              <span class="address-label">{{address.key | titlecase}}:</span>
              <span class="address-value">{{address.value}}</span>
            </div>
          </div>
          <p>Tel: {{salon.phone}}</p>
          <p>Horario de atención:</p>
          <div class="working-hours">
            <div *ngFor="let schedule of salon.workingHours" class="day-schedule">
              <span class="day-name">{{schedule.day | titlecase}}:</span>
              <span class="day-time">{{schedule.time}}</span>
            </div>
          </div>
        </div>
        <button mat-flat-button class="agendar-btn" (click)="agendarCita()">AGENDAR</button>
      </div>

      <div class="services-section">
        <mat-card class="services-card">
          <mat-card-content>
            <h2 class="services-title">Nuestros servicios</h2>
            <ul class="services-list">
              <li *ngFor="let servicio of services">
                <mat-icon class="bullet-icon">fiber_manual_record</mat-icon>
                {{servicio.name}}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <div class="salon-image-section">
      <img [src]="image" alt="{{salon.name}}" class="main-image">
      <div class="packages-section">
        <h2 class="packages-title">Conoce nuestros paquetes del mes</h2>
        <div class="packages-container">
          <div class="package" *ngFor="let paquete of packages">
            <h3 class="package-title">{{paquete.name}}</h3>
            <p class="package-description">{{paquete.description}}</p>
            <p class="package-price">{{paquete.price | currency:'MXN':'symbol-narrow':'1.0-0'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>`
