<mat-horizontal-stepper class="stepper-container" #stepper>
  <ng-container *ngFor="let step of steps; let i = index">
    <mat-step [label]="step.label">
      <ng-container *ngTemplateOutlet="step.content"></ng-container>
      
      <div class="button-row">
        <button 
          *ngIf="i === 0 && showCancelButton" 
          mat-stroked-button 
          (click)="onCancel()">
          {{cancelButtonText}}
        </button>
        
        <button 
          *ngIf="i > 0" 
          mat-stroked-button 
          (click)="stepper.previous()">
          {{backButtonText}}
        </button>
        
        <button 
          *ngIf="i < steps.length - 1" 
          mat-flat-button 
          color="primary" 
          class="continuar-btn"
          [disabled]="step.formGroup && step.formGroup.invalid"
          (click)="stepper.next()">
          {{continueButtonText}}
        </button>
        
        <button 
          *ngIf="i === steps.length - 1" 
          mat-flat-button 
          color="primary" 
          class="confirmar-btn"
          [disabled]="step.formGroup && step.formGroup.invalid"
          (click)="onComplete()">
          {{completeButtonText}}
        </button>
      </div>
    </mat-step>
  </ng-container>
</mat-horizontal-stepper>